body{
    font-family:  Arial ,Times, Times New Roman, serif;
    font-size: x-large;
    color:#ffffff;
    margin: 0;
    padding: 0;
    background-image: url("Img/Background (5).png");
    background-size: 200px;
}
div{
    box-shadow: 10px 10px 20px #1a1a1a;
}
input, select{
    margin-top: 10px;
    display: block;
    margin-left: 15%;
    font-family: URW Chancery L, cursive;
    font-size: larger;
    width: 70%;
    border:1px solid #000000;
    border-radius: 3px;
    box-shadow: 4px 4px 4px #111020;
}
dd{
    margin-left: 5%;
    margin-right: 4%;
    margin-bottom: 1%;
    text-align: justify;
}

#Cabecalho{
    font-family: Times, Times New Roman, serif;
    position: fixed;
    top:0;
    width: 100%;
    height: auto;
    background-color: #000000e7;
    box-shadow: 0px 0px 0px #1a1a1a;
}

#Nome_Trabalho{
    
    font-style: italic;
    text-align: center;
    font-size:32px;
    line-height: center;
    float: left;
    margin-left: 1%;
    box-shadow: 0px 0px 0px #1a1a1a;
}

.Corpo{
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 12.5%;
    width: 75%;
    background-color: #b4b4b477;
    border:2px solid #000000;
    border-radius: 3px;
    
}
    
#Problema{
    margin-top: 65px;
    height: auto;
}

.Cabecalho_Corpo_Interno{
    margin-top: 0;
    text-align: center;
    border:2px solid #000000;
    background-color: #1a1d21;
}

.Corpo_Interno{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 2.5%;
    width: 95%;
    font-size: medium;
    background-color: #383b41;
    border:1px solid #000000;
    border-radius: 2px;
    transition: all linear 0.6s; 
}
.Corpo_Interno:hover{ 
    background-color: #232529;
}

.Alternativas{
    text-align: left; 
}

.input{
    margin-bottom: 15px;
    margin-left: 5%;
    width: 90%;
    background-image: url("Img/Background (11).png");
    background-size: 100px;
    border:1px solid #000000;
    border-radius: 10px;
    transition: all ease-in 0.6s; 
}
.input:hover{
    background-image: url("Img/Background (i).png");
    background-size: 100px;
}

.input_Calcular{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20%;
    width: 60%;
    font-size: xx-large;
    font-family: Times, Times New Roman, serif;
    background-image: url("Img/Background (6).png");
    background-size: 100px;
    border:1px solid #000000;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    line-height: center;
    transition: all ease-in 0.4s;
}
.input_Calcular:hover{
    width: 70%;
    margin-left: 15%;
    background-color: #0051fffb;
}

#Participantes{
    height: auto;
}

#Fim_da_Pagina{
    bottom: 0;
    margin-top: 15px;
    width: 100%;
    height: auto;
    background-image: url("Img/Background (11).png");
    background-size: 100px;
}

#Agradecimentos{
    color:#c0c0c0;
    text-align: center;
    font-size:22px;
    line-height: center;
}

@media only screen and (min-width: 1920px){
    body{
        font-size:20px;
    }
    #Problema{
        margin-top: 82px;
    }

    #Nome_Trabalho{
        font-size:48px;
    }
    .Corpo_Interno{
        font-size: x-large;
        
    }
    
    #Agradecimentos{
        bottom:0;
        font-size:30px;
    }

}

@media only screen and (max-width: 1000px){
    body{
        font-size:20px;
    }
    #Problema{
        transition: all ease-in 0.6s; 
        margin-top: 82px;
    }

    input, select{
        transition: all ease-in 0.6s; 
        margin-top: 10px;
        margin-left: 15%;
        width: 70%;
        height: 45px;
    }   

    #Nome_Trabalho{
        transition: all ease-in 0.6s; 
        font-size:38px;
    }
    .Corpo{
        transition: all ease-in 0.6s; 
        margin-left: 0.5%;
        width: 98%;
    }
    .Corpo_Interno{
        transition: all ease-in 0.6s; 
        font-size: 22px;    
    }
    
    #Agradecimentos{
        transition: all ease-in 0.6s; 
        bottom:0;
        font-size:14px;
    }

}
