body{
    font-family: URW Chancery L, cursive;
    font-size:17px;
    color:#ffffff;

    margin: 0;
    padding: 0;
    background-image: url("https://pauloramiro.github.io/css/Img/Background (5).png");
    background-size: 200px;
}
div{
    box-shadow: 10px 10px 20px #1a1a1a;
}
input{
    margin-top: 5px;
    display: block;
    margin-left: 15%;
    font-family: URW Chancery L, cursive;
    width: 70%;
    border:1px solid #000000;
    border-radius: 3px;
    box-shadow: 4px 4px 4px #111020;
}
dd{
    margin-right: 4%;
    text-align: justify;
}
#Cabecalho{
    font-family: Times, Times New Roman, serif;
    position: fixed;
    top:0;
    width: 100%;
    height: auto;
    background-color: #000000ea;
    box-shadow: 0px 0px 0px #1a1a1a;
}

#Nome_Trabalho{
    position: absolute;
    font-style: italic;
    text-align: center;
    font-size:32px;
    line-height: center;
    float: left;
    margin-left: 1%;
    box-shadow: 0px 0px 0px #1a1a1a;
}

#modo{
    background-color: yellow;
    width: 2.5%;
    height: 0px;
    padding-bottom: 2.5%;
    float: left;
    border-radius: 50%;
    margin-left: 50%;
}

#menu{
    float: right;
    font-size:22px;
    line-height: 40px;
    box-shadow: 0px 0px 0px #1a1a1a;
}
#menu ul,
#menu li{
    margin:0;
    padding:0;
    list-style:none;
    color:#e9e9e9;
}
#menu li{
    float: left;
    padding-left:10px;
    padding-right: 10px;
    transition: all ease-in 0.6s;
}
#menu li:hover{
    background-color: #c74219;
}

.Corpo{
    margin-top: 15px;
    margin-left: 12.5%;
    width: 75%;
    background-color: #b4b4b477;
    border:2px solid #000000;
    border-radius: 3px;
    
}
    
#Problema{
    margin-top: 65px;
    height: auto;
}

.Cabecalho_Corpo_Interno{
    margin-top: 0;
    text-align: center;
    border:2px solid #000000;
    background-color: #1a1d21;
}

.Corpo_Interno{
    margin-top: 15px;
    margin-left: 2.5%;
    width: 95%;
    font-size: medium;
    background-color: #2f3136;
    border:1px solid #000000;
    border-radius: 2px;
}

.input{
    margin-bottom: 15px;
    margin-left: 30%;
    width: 40%;
    background-image: url("https://pauloramiro.github.io/css/Img/Background (11).png");
    background-size: 100px;
    border:1px solid #000000;
    border-radius: 10px; 
}
.input_Calcular{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20%;
    width: 60%;
    background-image: url("https://pauloramiro.github.io/css/Img/Background (6).png");
    background-size: 100px;
    border:1px solid #000000;
    border-radius: 3px;
    text-align: center;
    font-size: 20px;
    line-height: center;
    transition: all ease-in 0.4s;
}
.input_Calcular:hover{
    width: 70%;
    margin-left: 15%;
    background-color: #0051fffb;
}

#Participantes{
    height: auto;
}

#Fim_da_Pagina{
    bottom: 0;
    margin-top: 15px;
    width: 100%;
    height: auto;
    background-image: url("https://pauloramiro.github.io/css/Img/Background (11).png");
    background-size: 100px;
}

#Agradecimentos{
    color:#c0c0c0;
    text-align: center;
    font-size:22px;
    line-height: center;
}

@media only screen and (min-width: 1920px){
    body{
        font-size:20px;
    }
    #Problema{
        margin-top: 82px;
    }

    #Nome_Trabalho{
        font-size:48px;
    }
    .Corpo_Interno{
        font-size: x-large;
        
    }
    
    #Agradecimentos{
        bottom:0;
        font-size:30px;
    }

}
/*
@media only screen and (max-width: 1000px){
    body{
        font-size:20px;
    }
    #Problema{
        margin-top: 82px;
    }

    #Nome_Trabalho{
        font-size:48px;
    }
    .Corpo_Interno{
        font-size: 22px;
        
    }
    
    #Agradecimentos{
        bottom:0;
        font-size:14px;
    }

}*/
